.cmx--iconedSelect {
  img {
    max-width: 1em;
    max-height: 1em;

    [data-color-scheme="dark"] &[src$=".svg"] {
      filter: invert(1);
    }
  }

  .choices {
    height: auto;
    &[data-type*=select-one] {
      .choices__inner {
        &::after {
          //height: 0;
          //width: 0;
          //background: none;
          //border-style: solid;
          //border-color: #a1a1a1 transparent transparent transparent;
          //border-width: 7px 4px;
          //right: 7.5px;
          //top: 50%;
          //margin-top: -2.5px;
        }
      }
      &.is-open .choices__inner {
        &::after {
          //border-color: transparent transparent #a1a1a1 transparent;
          //margin-top: -10px;
        }
      }
    }

    &__inner {
      height: auto;
    }

    &__item {
      display: flex;
      align-items: center;
      gap: 10px;
      white-space: nowrap;

      span {
        color: #cecece;
        [data-color-scheme="dark"] & {
          color: #7f7f7f;
        }
      }
    }
  }
}
