.cmx--iconedSelect {
  img {
    width: 1em;
    height: 1em;
    margin-right: .25em;

    [data-color-scheme="dark"] & {
      filter: invert(1);
    }
  }

  .choices__item img {
    vertical-align: top;
  }

  // force white icons on the blue highlight background to match the text color
  .choices__item.is-highlighted img,
  .chzn-results .highlighted img {
    filter: brightness(0) invert(1);
  }
}
