cmx-ui {
  display: none;

  body[data-cmx-ui="visible"] & {
    display: block;
  }
}

.cmx--ui {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: 2px dashed #0594ff !important;
    outline-offset: -2px;
    z-index: 9999;
    pointer-events: none
  }

  &__badge {
    display: flex;
    position: absolute;
    align-items: stretch;
    width: auto;
    padding: 7px 0 8px 10px;
    color: #fff;
    background: #0594ff; // Selected badge color
    // background: #d946ef; // Hover badge color
    font: 700 11px/1 -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    border-radius: 3px;
    white-space: nowrap;
    pointer-events: auto;
    transform: translateY(-100%);
    z-index: 99;
  }

  &__label {
    align-self: center;
    margin-right: 5px
  }

  &__separator {
    display: inline-block;
    width: 1px;
    height: 12px;
    background: rgba(255, 255, 255, .3);
    margin: 0 3px;
    flex-shrink: 0;
    align-self: center
  }

  &__item {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    cursor: pointer;
    opacity: .75;
    transition: opacity .15s, background-color .15s;
    pointer-events: auto;
    margin: -7px 0 -8px;
    padding: 0 8px;
    line-height: 1;

    &:hover {
      opacity: 1;
      background-color: rgba(0, 0, 0, .18)
    }
  }

  a {
    display: block;
    color: #fff;
  }
}
